<!DOCTYPE html>
<html>
<head>
    <title>Mesh Emergency Chat</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>

<div class="app">

    <!-- Header -->
    <div class="header">
        🚨 Emergency Chat (2 Device Mode)
    </div>

    <!-- Chat -->
    <div id="chat-box"></div>

    <!-- Input -->
    <div class="input-area">
        <input type="text" id="message" placeholder="Type message...">
        <button onclick="sendMessage()">Send</button>
        <button onclick="sendLocation()">📍</button>
    </div>

</div>

<script src="/static/script.js"></script>

</body>
</html>